.furniture-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.furniture-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f3f4;
  padding: 10px;
  margin: 2px;
}

.furniture-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f3f4;
  padding: 20px;
  margin: 20px 2px;
}

.furniture-image img {
  max-width: 400px;
  max-height: 400px;
  padding: 10px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-right: 10px;
}
