* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #353536;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
}

/* npx eslint "***.js" --fix /*/

/* .js" */
